@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* death list */

/* Tabs*/

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs {
  color: #000000;
}
#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: var(--primary);
  font-size: 19px;
  font-family: 'Cinzel';
  font-weight: 300;
}

/* death timelist */

.timeline {
  position: relative;
  padding: 12px 0px 10px;
  margin-top: -38px;
  color: var(--primary);
}

.timeline .panel {
  position: relative;
  margin: 10px 0 21px 70px;
  clear: both;
}

.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}
.timeline .panel .panel-heading.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.timeline .panel-outline .panel-body {
  padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
  display: none;
}

.list {
  margin: -1px;
  padding: 0;
  list-style: none;
}
.list > li {
  position: relative;
}
.list-timeline {
  position: relative;
  padding-top: 10px;
}
.list-timeline > li {
  margin-bottom: 10px;
}
.list-timeline .list-timeline-time {
  margin: 0 -20px;
  padding: 10px 20px 10px 40px;
  min-height: 40px;
  text-align: right;
  color: #999;
  font-size: 13px;
  font-style: italic;
  background-color: #8675a5;
  border-radius: 2px;
}
.list-timeline .list-timeline-icon {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.list-timeline .list-timeline-content {
  padding: 10px 10px 1px;
}
.list-timeline .list-timeline-content > p:first-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .list-timeline {
    padding-top: 40px;
  }
  .list-timeline:before {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    display: block;
    width: 4px;
    content: '';
    background-color: #8675a5;
    z-index: 1;
  }
  .list-timeline > li {
    min-height: 40px;
    z-index: 2;
  }
  .list-timeline > li:last-child {
    margin-bottom: 0;
  }
  .list-timeline .list-timeline-time {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 90px;
    background-color: transparent;
  }
  .list-timeline .list-timeline-icon {
    top: 3px;
    left: 105px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    z-index: 2 !important;
  }
  /* .list-timeline .list-timeline-content {
    padding-left: 160px;
  } */
}
.list-activity > li {
  margin-bottom: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  font-size: 13px;
  border-bottom: 1px solid #f3f3f3;
}
.list-activity > li > i:first-child {
  position: absolute;
  left: 10px;
  top: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.list-activity > li:last-child {
  border-bottom: none;
}
.list-events > li {
  margin-bottom: 5px;
  padding: 8px 30px 8px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 700;
  background-color: #b5d0eb;
}
.list-events > li:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  color: rgba(255, 255, 255, 0.75);
  content: '\f073';
}
.list-events > li:hover {
  cursor: move;
}
.list-simple > li {
  margin-bottom: 20px;
}
.list-simple-mini > li {
  margin-bottom: 10px;
}
.list-li-clearfix > li:before,
.list-li-clearfix > li:after {
  content: ' ';
  display: table;
}
.list-li-clearfix > li:after {
  clear: both;
}
