.character-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;
}

.character-container img {
	width: 100%;
	height: 96px;
	object-fit: cover;
	border-radius: 20px;
}

.new-character {
	height: 96px;
	background: #f5f8fa;
	border: 1px dashed #886ab5;
	border-radius: 20px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.imagem-avatar {
	position: relative;
}
.avatar-delete {
	display: none;
}

.imagem-avatar:hover .avatar-delete {
	display: block;
}

.avatar-delete {
	width: 100%;
	height: 0px;
	position: absolute;
	top: 7px;
	cursor: pointer;
}

.modal-content {
	width: 70% !important;
}
