.AuctionCharacterName {
  font-weight: 700;
  margin-bottom: 4px;
}
.AuctionInfo {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #ff9712;
}
.AuctionNewIcon {
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 100;
}
.AuctionLinks {
  position: absolute;
  right: 6px;
  top: 4px;
  height: 15px;
}
.AuctionLinks a {
  margin-left: 5px;
}
.WatchOrUnwatchLink {
  position: absolute;
  top: 0;
  right: 70px;
}
.AuctionLinks .WatchListIndicator {
  position: relative;
  top: -4px;
  color: green;
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.AuctionBody {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dashed #5a2800;
}
.AuctionDisplay {
  flex-basis: 76px;
  flex-grow: 0;
  flex-shrink: 0;
  order: 0;
  padding: 1px;
  background-color: #534f84;
  border: 1px solid #3e387a;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  float: left;
  margin-right: 10px;
}
.AuctionBodyBlock {
  margin-top: 5px;
  margin-bottom: 5px;
}
.AuctionOutfit {
  position: relative;
}
.AuctionItemsViewBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
  grid-auto-rows: 38px;
}
.AuctionOutfitImage {
  position: absolute;
  left: 5px;
  top: 2px;
  z-index: 100;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.ShortAuctionData {
  position: relative;
  min-width: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #534f84;
  border: 1px solid #3e387a;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.ShortAuctionData .AuctionTimer {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 200px;
  text-align: right;
  background-color: #f1e0c6;
  color: red;
}
.ShortAuctionData .ShortAuctionDataLabel {
  width: 115px;
  font-weight: 700;
  float: left;
  color: var(--grey);
}
.ShortAuctionDataValue {
  text-align: right;
  color: var(--grey);
}
.ShortAuctionDataBidRow {
  margin-top: 5px;
}
.CurrentBid {
  width: 142px;
  flex-shrink: 0;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  background-color: #534f84;
  border: 1px solid #3e387a;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.CurrentBid .Container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.CurrentBid .BigButton {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media all and (max-width: 1170px) {
  .SpecialCharacterFeatures {
    margin-right: 10px;
  }
  .CurrentBid {
    order: 5;
    margin-left: auto;
  }
}
.MyMaxBidLabel {
  font-weight: 700;
  color: var(--grey);
}
.MyMaxBidInput {
  width: 131px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 13px;
}
.SpecialCharacterFeatures {
  flex-basis: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 10px;
  background-color: #534f84;
  border: 1px solid #3e387a;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.SpecialCharacterFeatures .Entry {
  width: 100%;
  min-width: 300px;
  text-align: left;
  color: var(--grey);
}
.SpecialCharacterFeatures .CharacterFeatureCategory {
  margin-right: 5px;
}
.PercentageColumn {
  width: 100%;
  position: relative;
}
.LabelColumn {
  width: 80px !important;
  white-space: nowrap;
}
.LevelColumn {
  width: 30px !important;
  text-align: right;
}
.PercentageColumn {
  position: relative;
  margin-right: 2px;
}
.PercentageBar {
  position: absolute;
  height: 18px;
  background-color: #5f4d41;
  top: 1px;
}
.PercentageStringContainer {
  width: 100%;
  text-align: center;
}
.PercentageString {
  position: absolute;
  top: 3px;
  width: 50%;
  margin-left: 20px;
  left: 0;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.PercentageBarSpacer {
  width: 5px;
}
.PageLink {
  display: inline-block;
  min-width: 15px;
  text-align: center;
}
.AchievementSecretIcon {
  position: absolute;
  margin-top: -2px;
  margin-left: 5px;
}
.CollapsedBlock .TableContent tr:nth-child(n + 12) {
  display: none;
}
.CollapsedBlock .TableContent tr:last-child {
  display: table-row;
  text-align: center;
}
.CollapsedBlock .IndicateMoreEntries {
  font-style: italic;
}
.CharacterDetailsBlock .ShowMoreOrLess {
  padding: 7px;
  padding-bottom: 7px;
  font-size: 8pt;
  text-align: right;
}
.CharacterDetailsBlock .ShowMoreOrLess a {
  cursor: pointer;
}
.CharacterTradeTibiaCoinBalance {
  position: absolute;
  top: 8px;
  color: #fff;
  right: 5px;
  font-size: 7pt;
}
